.form-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
  width: 100%;
  box-sizing: border-box;
}

.message-input {
  width: 100%;
  min-height: 70px;
  max-height: 300px;
  padding: 12px;
  border-radius: var(--radius-md);
  border: 1px solid #ccc;
  resize: none;
  font-size: 16px;
  outline: none;
}

.message-input::placeholder {
  font-family: var(--placeholder-font-family);
  font-size: var(--placeholder-font-size);
  color: var(--placeholder-color);
}

.message-input:focus {
  border-color: var(--focus-color);
}

.submit-button {
  justify-content: center;
  padding: 8px 14px;
  margin: 6px 0 0 0;
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: var(--fw-semibold);
  align-self: flex-end;
}
